@import '~view-design/src/styles/index';

body, html {
  height: 100vh;
  padding: 0;
}

div#__nuxt, div#__layout {
  height: 100%;
}

h1 {
  margin: 30px 0;
}

.ivu-layout {
  height: 100%;
  overflow: auto;
}

.ivu-layout-sider {
  width: 300px !important;
  min-width: 300px !important;
  max-width: 300px !important;
}

.ivu-layout-header {
  padding: 0;
}

.ivu-spin-fix .ivu-spin-main {
  top: 25%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.blue-class-words {
  color: blue;
  font-size: 18px;

  svg {
    margin: 0 0 0 20px !important;
  }
}

.red-class-words {
  color: red;
  font-size: 18px;

  svg {
    margin: 0 0 0 20px !important;
  }
}

.empty-list {
  width: 100%;
  text-align: center;
}
